# Dependencies
node_modules/
app/node_modules/

# Expo
app/.expo/
app/dist/
app/web-build/
app/expo-env.d.ts

# Native
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision

# Environment files
.env
.env.local
.env*.local
app/.env
app/.env.local
app/.env*.local

# macOS
.DS_Store

# Misc
app/npm-debug.*
app/yarn-debug.*
app/yarn-error.*
app/*.tsbuildinfo
app/ios
app/android
firestore_rules_setup.md
PRD.md
DesignDoc.md
techstack.md
